*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background-color: #7e9c91;
}
.container{
    text-align: center;
    margin-top: 100px;
    border: 10px solid gray;
    width: 50%;
    margin-left:300px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    box-shadow: 20px 20px 30px rgb(255,255,255, 0.3);

    
}
#volume{
    color: white;
    
}
.content h3{
    font-size: 30px;
    font-weight: 600;
    margin-left: 30px;
   
}
ul li h2{
    margin-top: 140px;
    font-size: 20px;
    font-weight: 600;
}
ul li h3{
    margin-top: 240px;
    font-weight: 600;
}

.container span{
    margin-left: 100px;
    margin-right:20px;
    margin-top: 8px;
    font-weight: 600;
}
.content{
    display: flex;
    
}
.keys{
    list-style: none;
    display: flex;
    margin-top: 50px;
}


.keys .white{
    height: 280px;
    width:100px;
    background-color: white;
    border-radius:6px;
    border: 2px solid black;
    color: black;
    text-align: center;
    cursor: pointer;

}
.keys .white:active{
    background-color: rgb(228, 231, 231);
}
.keys .black:active{
    background-color:rgb(26, 24, 24) ;
}


.keys .black{
    z-index: 2;
    background-color:black;
    margin:0px -34px 0px -34px;
    border-radius:0 0 5px 5px;
    height: 180px;
    width:100px;
    border: 1px solid white;
    border-radius:7px;
    cursor: pointer;
    
}

@media  screen and (max-width:1000px) {
    body{
        background-color: red;
    }
    .container span{
        margin-left: 50px;
    }

    #volume{
        margin-left: -100px;
        margin-top: 50px;
       
    }
    .container{
        margin-left: 60px;
        width: 80%;
    }

    

   
    
  
    
}